{% extends 'core/base.html' %}

{% block content %}
<div class="container">
    <h2>Mis Solicitudes Actividades</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Rut</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Actividad</th>
                <th scope="col">Estado de tu inscripción</th>
            </tr>
        </thead>
        <tbody>
            {% for inscripcion in inscripciones %}
                <tr>
                    <td>{{ user.rut }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ inscripcion.actividad.nombre_actividad }}</td>
                    <td>{{ inscripcion.estado }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}