{% extends 'core/base.html' %}

{% block content %}
<div class="container">
    <h2>Mis Solicitudes Proyectos</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Rut</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Proyecto al que postula</th>
                <th scope="col">Estado de tu solicitud</th>
            </tr>
        </thead>
        <tbody>
            {% for solicitud in solicitudes %}
                <tr>
                    <td>{{ user.rut }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ solicitud.proyecto.nombre_proyecto }}</td>
                    <td>{{ solicitud.estado }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

